


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Lato, "sans-serif";
}

body {
  margin-top: 80px;  
  background-color: #000;
}

.header {
  text-align: center;
}

.nav {
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.nav__link {
  text-decoration:none              ;
  color: darkslategray;
}

.nav__link:not(:last-of-type) {
  margin-right: 2.5rem;
}

.nav__link--active,
.nav__link:hover {
  font-weight: bold;
}



.main {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.main--about, .main--error {
  flex-direction: column;
  max-width: 500px;
  padding: 0 1rem;
  line-height: 150%;
}


.contact {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.contact__details {
  /* 1ch is equivalent to the width of the 0 character at the current
       font size. This allows to create a roughly one letter gap bewteen
       the contact label and the associated contact detail */

  margin-left: 1ch;
}

.contact__link {
  color: darkslategray;
  text-decoration: none;

  /* We can modify the text decoration colour and thickness to
       create a custom underline, but the text-decoration-thickness
       property isn't currently supported on Chrome.
       
       Using box-shadow to simulate the underline gives us a
       cross-browser solution. */

  box-shadow: 0 3px 0 0 darkslategrey;
}

.contact__link:hover {
  color: dimgray;
}

.projects {
  display:grid;
  grid-template-columns: 0.5fr;
  column-gap: 1.25rem;
  justify-content: center;
  justify-items: center;
  max-width: 10.875rem;
  margin:auto;
}



@media (min-width: 48.75em) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    max-width: 45rem;
  }
}


@media (min-width: 70em) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    max-width: 68rem;
  }
}

.project-card {
  padding: 0.5rem 0;
  width: 250px;
  height: 200px;
  margin-right:1rem;
}



.project-card__image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
  margin-bottom: 1rem;
  transition: transform 0.2s ease-in-out;
}


.project-card__meta {
  padding: 0 1.25rem
}


.project-card__name {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: darkslategrey;
}


.project-card:hover .project-card__image {
  transform: translateY(-0.5rem);
}


.project-card:hover .project-card__name {
  text-decoration: underline;
}

.project__heading {
  text-decoration: none;
}

.categories {
  display: flex;
  padding: 0;
  margin: 0 0 0.75rem;
  color: aliceblue;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.075rem;
}


.categories__tag:not(:last-of-type)::after {
  content: "|";
  margin: 0 0.35rem;
}


.hero {
  width: 100%;
  margin-bottom: 1rem 1;
  max-width: 50rem;
  border-radius: 8px;
}

.project {
 display: flex;
 max-width: 50rem;
 flex-direction: column;
 font-size: 1.2rem;
 padding: 0 1rem; 
}
.project__content {
  line-height: 150%;
}

.project__meta-group {
  margin-top: 0.9rem;
}


@media(min-width: 48.75em) {
  .project {
    flex-direction: row;
    padding: 0;
  }
  .project__content {
    flex: 7;
    margin-right: 3rem;
    padding: 0;
  }
}

@media(max-width: 50em) {
  .project__heading--meta {
    margin-top: -0.9rem;
  }
  .project__content {
    margin-top: 1rem;
  }
  .project-card__image {
    height: 40%;
    width: 85%;
  }
}


.project__heading--meta {
  font-size: inherit;
  margin-bottom: 1rem;
  color: goldenrod;
}

.project__meta-group {
  margin-bottom: 1rem;
}

.project__meta-group,
.cta {
  padding: 0.6rem;
  background-color: darkslategrey;
  border-radius: 6px;
}

.cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: goldenrod;
  text-decoration: none;
}

.cta:hover {
  text-decoration: underline;
}

.cta__icon {
  margin-right: 0.5rem;
  transform: translateY(-2px);
}

.technology-list {
  list-style: none;
  margin: 0;
  padding-left: 0.75rem;
  line-height: 1.75rem;
  color: goldenrod
}

.technology-list__item::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("/static/img/checkmark.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
  transform: translateY(1px);
}

.hit {
  text-align: end;
  margin-top: 5rem;
  color: bisque
}



.u-bare-link {
  text-decoration: none;
}