{% extends 'base.html' %}
{% block content %}
   <body style="
   color: darkslategrey; 
   background-image: url('{{ url_for('static', filename='contact.jpeg') }}');" 
   >
    <main class="main main--about">
       
        <p>
            Hello! I'm a passionate "Flask Developer" with a knack for crafting seamless web experiences. 
            I've honed my skills in Python, Flask, HTML5, CSS3, and MongoDB
            to build dynamic and responsive applications. 
        </p>
        
        <p>
            My journey in web development began with the discovery of Flask's potential to create lightweight yet powerful
            web services. Since then, I've been immersed in developing scalable back-end systems and integrating them with 
            intuitive front-end designs. My projects reflect a commitment to "clean code", "user-centric design", and "data-driven decisions".
        </p>

        <p>
            I believe that the beauty of a web application lies in its simplicity and the user's journey through it.
            That's why I focus on "optimizing performance" and "enhancing user experience". 
            Whether it's a small business website or a complex data visualization tool, 
            I bring the same level of dedication and detail to every project.
        </p>

        <p>
            As I continue to explore the ever-evolving landscape of web technologies, 
            I'm excited to collaborate with like-minded individuals and teams who are looking to
            make a meaningful impact online. Let's connect and turn your vision into a digital reality!
        </p>
    </main>
   </body>
{% endblock %}