{% extends 'base.html' %}
{% block content %}
    <main class="main main--contact">
        <dl>
            <div class="contact">
                <dt style="color: darkslategray;">Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:keemeayo@hotmail.com">
                        keemeayo [at] hotmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt style="color: darkslategray;">GitHub:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/keemeayo">
                        @keemeayo
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt style="color: darkslategray;">X:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://x.com/keemeayo">
                        @keemeayo
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}