{% extends 'base.html' %}
{% block content %}
    <body style="background-image: url('{{ url_for('static', filename='post-bg.jpeg') }}'); width: 100%; height: 600px;">
        <main class="main main--contact">
            <dl>
                <div class="contact">
                    <dt style="color: darkslategray;">Email:</dt>
                    <dd class="contact__details">
                        <a class="contact__link" href="mailto:keemeayo@hotmail.com">
                            keemeayo [at] hotmail.com
                        </a>
                    </dd>
                </div>
                <div class="contact">
                    <dt style="color: darkslategray;">GitHub:</dt>
                    <dd class="contact__details">
                        <a class="contact__link" href="https://github.com/ayo-spec">
                            @ayo-spec
                        </a>
                    </dd>
                </div>
                <div class="contact">
                    <dt style="color: darkslategray;">LinkedIn:</dt>
                    <dd class="contact__details">
                        <a class="contact__link" href="https://linkedin.com/in/ayo-spec">
                            @ayo-spec
                        </a>
                    </dd>
                </div>
            </dl>
        </main>
    </body>
{% endblock %}