{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt=""
            />
            

            <article  style="color: darkslategrey;" class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>

                        <strong  style="text-decoration: underline;" > Scope of Program</strong><br>
                       
                        1) The program helps users track their habits.<br>
                        2) It stores habit-entries in a MongoDB database.<br>
                        3) Users can interact with this interface by clicking or tapping on<br>
                        --- the days to set their preferences.<br>
                        4) They can add new habits or modify existing ones.
                       
                    </p>
                    <p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies Used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">HTML</li>
                            <li class="technology-list__item">CSS</li>  
                        </ul>
                    </article>
                    <a class="cta" href="{{ project['prod'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.png') }}" alt="">
                        <strong><i> Add New Habit</i></strong>
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}