{% extends 'base.html' %}
{% block content %}
    <body style="background-image: url('{{ url_for('static', filename='post-bg.jpeg') }}');">
        <main class="main main--project">
            <div>
                <img
                    class="hero"
                    src="{{ url_for('static', filename=project['hero']) }}"
                    alt=""
                />
                
    
                <article  style="color: darkslategrey;" class="project">
                    <article class="project__content">
                        <h2 class="project__heading">{{ project['name'] }}</h2>
    
                        <p>
    
                            <strong  style="text-decoration: underline;" > Scope of Program</strong><br>
                           
                            1) Requires user authentication (login).<br>
                            2) Users can add new movies to their watchlist.<br>
                            4) Movie details (title, director, year) are stored in the database.
                           
                        </p>
                        <p>
                    </article>
    
                    <section>
                        <article class="project__meta-group">
                            <h3 class="project__heading project__heading--meta">Technologies Used</h3>
    
                            <ul class="technology-list">
                                <li class="technology-list__item">Python</li>
                                <li class="technology-list__item">HTML</li>
                                <li class="technology-list__item">CSS</li>  
                            </ul>
                        </article>
                        <a class="cta" href="{{ project['prod'] }}">
                            <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.png') }}" alt="">
                            <strong><i> Add New Movie</i></strong>
                        </a>
                    </section>
                </article>
            </div>
        </main>
    </body>
{% endblock %}