{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt=""
            />
            

            <article  style="color: darkslategrey;" class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>

                        <strong  style="text-decoration: underline;" > FizzBuzz Logic:</strong><br>
                       - The code implements the classic FizzBuzz problem:<br>
                        1) If a number is divisible by 3, it displays “Fizz.”<br>
                        2) If a number is divisible by 5, it displays “Buzz.”<br>
                        3) If a number is divisible by both 3 and 5, it displays “FizzBuzz.”<br>
                        Otherwise, it displays the number itself. 
                    </p>
                    <p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies Used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">HTML</li>
                            <li class="technology-list__item">CSS</li>  
                        </ul>
                    </article>
                    <a class="cta" href="{{ project['prod'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.png') }}" alt="">
                        <strong><i> Peep FizzBuzz</i></strong>
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}